.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 22%;
    right: 76%;
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%;
    right: 15%;
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 75%;
    right: 25%;



@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.subtitle-custom
  font-size: 20px
  font-weight: 600
.cajon.color-acento-contenido 
    background-color: $color-adicional-3
.bloque-texto-a.color-acento-contenido 
    background-color: $color-acento-botones
.text-color-acento-contenido
  color: $color-acento-contenido
.cajon-b:before
    bottom: 0% !important;
    opacity: 1 !important;
.cajon-b.color-secundario:before 
    background-color: $color-adicional-3
.top-space
    position: relative;
    top: 20px;
.bloque-texto-l i,
.bloque-texto-m i 
    font-size: 1.5em;
    color: $color-acento-contenido
    margin-top: 10px
.bloque-texto-l
    border-top: 1px solid $color-acento-contenido
    position: relative;
.w-60
  width: 60%
.bg-adicional-3
  background-color: $color-adicional-3 
.tabs-b__tab, .tabs-b 
    border-bottom: 0 !important;

.img-infografica.color-secundario .img-infografica__item__dot:before
    background-color: $color-acento-botones;
.img-infografica.color-secundario .img-infografica__item__dot:after
    background-color: $color-acento-botones;
.img-infografica__item, .img-infografica-b__item 
    width: 3.5%  !important;

.confidencialidad
  background: #D6C7F0

.acordeon
  background: #BFE0FB










